/*------------------------------------------------------------------
####################################################################
##||=========================COPYRIGHT==========================||##
##||    			                                            ||##
##||  			Author	 : Bram Fatdeli S.Kom                   ||##
##||    		Contact  : bramfatdeli@gmail.com            	||##
##||    		Website  : www.bramfatdeli.com              	||##
##||    		Address  : Batam, Kepualauan Riau           	||##
##||    			                                            ||##
##||=========================COPYRIGHT==========================||##
####################################################################
-------------------------------------------------------------------*/

.modal-ku {
    width: 1200px;
    margin: auto;
    margin-top: 50px;
}
.modal-backdrop {
    /* background-color: #0000; */
}